appdirs==1.4.4
asgiref==3.2.10
automium==0.2.6
automium-web==0.1.1
boto3==1.14.31
botocore==1.17.31
click==7.1.2
distlib==0.3.1
Django==2.2.13
django-ckeditor==5.7.1
django-js-asset==1.2.2
docutils==0.15.2
filelock==3.0.12
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
legacy==0.1.6
MarkupSafe==1.1.1
Pillow==8.0.1
PyQt5==5.13.2
PyQt5-sip==12.8.0
pyqt5-tools==5.13.2.1.6rc1
python-dateutil==2.8.1
python-dotenv==0.13.0
pytz==2019.2
s3transfer==0.3.3
six==1.15.0
sqlparse==0.3.0
urllib3==1.25.10
views==0.3
virtualenv==20.0.25
Werkzeug==1.0.1
